<div class="modal fade" id="modalManageProducts" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content" >
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Gestionar {{this.typeView}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex" style="gap: 3rem;">
          <aside style="width: 12rem; border-right: 1px solid #c5c5c5;">
            <nav class="d-flex flex-column">
              <a (click)="changeView('Administradores')">Administradores</a>
              <a (click)="changeView('Categoria')">Categoria</a>
              <a (click)="changeView('Marcas')">Marcas</a>
              <a (click)="changeView('Productos')">Productos</a>
            </nav>
          </aside>
          <div style="width: 100%;">
            @if(this.typeView == ''){
              <div style="width: 100%; height: 30rem;">
                <h1>Bienvenido</h1>
                <h5>Administre lo que necesite por medio de este configurador</h5>
              </div>
            }@if(this.typeView == 'Administradores'){
                <app-manage-admins></app-manage-admins>
            }@else if (this.typeView == 'Categoria') {
              <app-manage-category></app-manage-category>
            }@else if (this.typeView == 'Marcas'){
              <app-manage-marca></app-manage-marca>
            }@else if(this.typeView == 'Productos'){
                <app-manage-products></app-manage-products>
            }
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <div class="d-flex align-items-center" style="gap: 1rem;">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-alert-triangle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9v4" /><path d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z" /><path d="M12 16h.01" /></svg>
            <span style="font-size: 0.8rem;">Si realizas algun cambio, espera unos segundos mientras se refresacan los datos.</span>
          </div>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
