@if(this.typeView == 'Marcas'){
    <div style="width: 100%; margin-bottom: 1rem;" class="d-flex">
      <button class="btn btn-primary d-flex" (click)="changeView()">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
        Agregar Marca
      </button>
  </div>
  <div style="width: 88%; height: 30rem; overflow: auto;">
      <table class="table">
          <thead>
              <tr>
                @for(key of keys; track $index){
                  @if(!key.includes('marca')){
                    <th scope="col">{{key}}</th>
                  }
                }
                <th></th>
              </tr>
          </thead>
          <tbody>
              @for(marca of marcas; track marca.id){
                  <tr scope="row" style="text-align: center;">
                      @for(key of keys; track $index){
                        @if(!key.includes('marca')){
                          <td>{{marca[key]}}</td>
                        }
                      }
                      <td class="d-flex" style="gap: 0.1rem;">
                        <button type="button" class="btn btn-primary" (click)="updateMarcaForm(marca)">Editar</button>
                        <button type="button" class="btn btn-danger" (click)="deteleteMarca(marca)">Eliminar</button>
                      </td>
                  </tr>
              }
          </tbody>
      </table>
  </div>
  }@else if(this.typeView == 'formMarca') {
    <div style="width: 100%; margin-bottom: 1rem;" class="d-flex flex-row-reverse">
      <button class="btn btn-primary d-flex" (click)="changeView()">
        regresar
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-corner-up-left-double">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M19 18v-6a3 3 0 0 0 -3 -3h-7" />
          <path d="M13 13l-4 -4l4 -4m-5 8l-4 -4l4 -4" />
        </svg>
      </button>
    </div>
    <div style="width: 50rem; height: 30rem; overflow: auto;">
      <form action="" [formGroup]="formNewMarca" (ngSubmit)="validationMarca()">
        <fieldset>
          <legend>Crear Marca</legend>
          <div class="d-flex" style="gap: 1rem;">
            <div class="d-flex flex-column" style="gap: 1rem; width: 90%;">
              <div>
                <label for="descripcionMarca">Titulo Marca</label>
                <input id="descripcionMarca" type="text" formControlName="descripcionMarca">
                @if(formNewMarca.get('descripcionMarca')?.invalid && formNewMarca.get('descripcionMarca')?.touched){
                <span>El titulo de la marca es obligatoria.</span>
                }
              </div>
              <div>
                <label for="">Categoria perteneciente</label>
                <select name="" id="idCategoria" formControlName="idCategoria">
                  <option value=""></option>
                  @for(categoria of categorias; track categoria.idCategoria){
                    <option [value]="categoria.idCategoria">{{categoria.categoriaDescripcion}}</option>
                  }
                </select>
                @if(formNewMarca.get('idCategoria')?.invalid && formNewMarca.get('idCategoria')?.touched){
                  <span>La asignacion a una categoria es obligatoria.</span>
                  }
              </div>
            </div>
          </div>
        </fieldset>
        <div class="d-flex" style="width: 100%; margin-top: 2rem;">
          <button type="submit" class="btn btn-primary" [disabled]="formNewMarca.invalid">Crear Marca</button>
        </div>
      </form>
    </div>
  } @else if(this.typeView == 'FormsUpdate'){

    <div style="width: 100%; margin-bottom: 1rem;" class="d-flex flex-row-reverse">
      <button class="btn btn-primary d-flex" (click)="changeView()">
        regresar
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-corner-up-left-double">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M19 18v-6a3 3 0 0 0 -3 -3h-7" />
          <path d="M13 13l-4 -4l4 -4m-5 8l-4 -4l4 -4" />
        </svg>
      </button>
    </div>
    <div style="width: 50rem; height: 30rem; overflow: auto;">
      <form action="" [formGroup]="formUpdateMarca" (ngSubmit)="updateMarca()">
        <fieldset>
          <legend>Actualizar Marca</legend>
          <div class="d-flex" style="gap: 1rem;">
            <div class="d-flex flex-column" style="gap: 1rem; width: 90%;">
              <div>
                <label for="descripcionMarca">Titulo Marca</label>
                <input id="descripcionMarca" type="text" formControlName="descripcionMarca" [(ngModel)]="this.marcasUpdate.descripcionMarca">
                @if(formUpdateMarca.get('descripcionMarca')?.invalid && formUpdateMarca.get('descripcionMarca')?.touched){
                <span>El titulo de la marca es obligatoria.</span>
                }
              </div>
              <div>
                <label for="">Categoria perteneciente</label>
                <select name="" id="idCategoria" formControlName="idCategoria">
                  <option value=""></option>
                  @for(categoria of categorias; track categoria.idCategoria){
                    <option [value]="categoria.idCategoria">{{categoria.categoriaDescripcion}}</option>
                  }
                </select>
                @if(formUpdateMarca.get('idCategoria')?.invalid && formUpdateMarca.get('idCategoria')?.touched){
                  <span>La asignacion a una categoria es obligatoria.</span>
                  }
              </div>
            </div>
          </div>
        </fieldset>
        <div class="d-flex" style="width: 100%; margin-top: 2rem;">
          <button type="submit" class="btn btn-primary" [disabled]="formUpdateMarca.invalid">Actualizar Marca</button>
        </div>
      </form>
    </div>
  }